[Desktop Entry]
Name=Skencil
Comment=Vector illustrator
Comment[da]=Vektor-illustrationsprogram
Comment[de]=Vektor-Zeichenprogramm
Comment[et]=Vektorjoonistusprogramm
Comment[fr]=Programme de dessin vectoriel
Comment[hu]=Vektoros rajzolóprogram
Comment[lt]=Vektorinis iliustratorius
Comment[no]=Vektor illustrasjonsprogram
Comment[pl]=Edytor grafiki wektorowej
Comment[pt]=Ilustrador vetorial 
Comment[pt_BR]=Ilustrador vetorial 
Comment[sl]=Vektorski ilustrator
Comment[sv]=Vektorillustrationsprogram
Comment[tr]=Vektör boyama uygulaması
Comment[uk]=Програма малювання векторної графіки
Exec=skencil
Terminal=false
Type=Application
Icon=skencil.png
Categories=Game;Graphics;
Encoding=UTF-8
# vi: encoding=utf-8
